
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/dist
/out-tsc
/tmp

src/environments/environment*.ts

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

.cache/
.angular/cache/