.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: auto;
  color: var(--text-secondary);
  font-size: 0.8rem;
}



a {
  text-decoration: none;
  color: var(--text-primary);
}
