<nav class="navbar">
    <div class="nav-brand">
        <span class="logo-text">SENTINEL <span class="highlight">OS</span></span>
    </div>
    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Dashboard
        </a>

        <a routerLink="/alerts" routerLinkActive="active">
            Alerts
        </a>

        <div class="user-profile">
            <div class="avatar">PM</div>
        </div>
    </div>
</nav>
